@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Blog Sayfası</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Başlık</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
        </tr>
    }
</table>
