
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<button class="btn btn-info">Yeni Buton</button>

<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>

@*<a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a>*@